* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  position: relative;
}

.App {
  text-align: center;
}

::selection {
  color: white;
  background-color: #a72d4f;
}

.any {
  color: #cfa98f;
}
